<div class="main-container">
  <h3>Block Breaker Game v1.0</h3>
  <div class="content">
    <div class="description">
      <label>
        Um jogo inspirado no classico jogo de 1986 no estilo de Block Breaker
      </label>
    </div>
    <div class="contact">
      <div class="info">
        <label>
          Finalizamos e liberamos a primeira versão
        </label>
      </div>
      <div class="buttons">
        <a href="https://beta01-arkanoid-godot.vercel.app/">
          <button>Abrir na Web</button>
        </a>
        <a href="#">
          <button class="download">Baixar <div class="icon">
            </div></button>
        </a>
      </div>
    </div>
  </div>
</div>
